<html>
	<body>
	<div>
		<%=@car1.year%>
		<%=@car2.model%>
		<%=@car3.year%>
		<%=@car4.year%>
		<%=@car5.model%>
		<%=@motorcycle1.custom_work%>
		<%=@motorcycle2.custom_work%>
		<%=@motorcycle3.custom_work%>
		<%=@truck1.year%>
		<%=@truck2.model%>

	</div>
	</body>
</html>